/* Header.style.css */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.9;
  min-height: 5em;
}

.navigate-box {
  display: flex;
}

.navigate-button {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid grey;
  border-radius: 10px;
  min-width: 10em;
  min-height: 3em;
  &:hover {
    background-color: white;
    color: black;
  }
}